.Header {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

.Header-logoApp {
  height: 45px;
  width: 11%;
  margin: 15px 5px;
}

.Menu {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  padding: 10px 10px;
}

.Menu-icon {
  display: none;
}

.Menu-ancla,
.Menu-div {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Barlow Condensed', sans-serif;
  cursor: pointer;

}

.Menu-li {
  color: #85898b;

}

.Menu-ancla:hover,
.Menu-div:hover {
  color: rgba(255, 255, 255, 0.678);
}

@media(max-width:800px) {}