.Services-option {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  border: 1px solid rgba(168, 167, 167, 0.39);
  box-shadow: 1px 1px 10px -7px white;
  border-radius: 5px;
  text-decoration: none;
}

.Services-option.scrolled {
  background-color: transparent;
}

.inactive {
  display: none;
}

.Services-option-a,
li {
  font-size: 1.5rem;
  list-style: none;
  margin: 5px;
  padding: 8px;
  color: white;
  text-decoration: none;

}

.Services-option li:hover {
  background-color: rgb(98, 98, 98);
}

.Menu-div {
  position: relative;
  margin-right: 10px;
}

.arrowOption {
  position: absolute;
  font-size: 20px;
  top: 1px;

}



@media(min-width: 800px) {
  .Services-option {
    position: absolute;
    width: 300px;
    left: -8px;
  }

  .Services-option.scrolled {
    background-color: #5f6366a6;
  }

}